body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(13, 13, 20);
    color: white;
  }
  #gameArea {
    width: 600px;
    height: 540px;
    border: 10px solid #333;
    position: relative;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

  .snake {
    width: 30px;
    height: 30px;
    background-color: limegreen;
    position: absolute;
    border-radius: 5px;
  }

  .food {
    width: 30px;
    height: 30px;
    background: radial-gradient(circle, tomato, red, darkred);
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
  }

  #score {
    font-size: 20px;
    margin-top: 20px;
}
